#pagecount {
	width: 280px;
	margin: 10px auto 2px auto;
	padding-bottom: 20px;
	text-align: center
}

#pagecount span {
	display: inline-block;
	color: black;
	float: left;
	padding: 6px 12px;
	text-decoration: none;
	transition: background-color .3s;
	font-size: 18px;
}

#pagecount span a {
	color: black;
	float: left;
	text-decoration: none;
	transition: background-color .3s;
	font-size: 18px;
}

#pagecount span:hover:not(.current)
{
background-color:#b2b2b2;
}
span.current {
	background-color: #53a9ff;
}

template{
    display: none;
}

.popover.bottom .arrowcolor:after{
border-bottom-color:#B7DFF8;   
}
.popover.bottom .arrowcolor1:after{
border-bottom-color:#FFFFFF;   
}