html {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
}

/* tell the browser to render HTML 5 elements as block */
article, aside, figure, footer, header, hgroup, nav, section {
	display: block;
}

body {
	font: normal .80em 'Droid Sans', arial, sans-serif;
	background: #F9F9F9;
	color: #444;
}

p {
	padding: 0 0 16px 0;
	line-height: 1.7em;
}

img {
	border: 0;
}

h1, h2, h3, h4, h5, h6 {
	color: #362C20;
	letter-spacing: 0em;
	padding: 0 0 5px 0;
}

h1, h2, h3 {
	font: normal 140% 'News Cycle', arial;
	margin: 0 0 15px 0;
	padding: 15px 0 5px 0;
	color: #222;
}

h2 {
	font-size: 160%;
	padding: 9px 0 5px 0;
}

h3 {
	font-size: 140%;
	padding: 5px 0 0 0;
}


a, a:hover {
	outline: none;
	text-decoration: none;
	color: #58B5D6;
}

a:hover {
	text-decoration: underline;
}

blockquote {
	margin: 20px 0;
	padding: 10px 20px 0 20px;
	border: 1px solid #E5E5DB;
	background: #FFF;
}

ul {
	margin: 2px 0 22px 17px;
}




#main, #container, #site_content, footer {
	margin-left: 150px;
	margin-right: 150px;
}

#main {
	width: 1300px;
	background: #EEEEEE url(../images/light.png);
}

#main, #container, #site_content, footer {
	margin-left: auto;
	margin-right: auto;
}

header {
	background: #444 url(../images/logo.jpg) no-repeat;
	height: 200px;
}

#logo {
	width: 1000px;
	height: 180px;
	background: transparent;
	color: #888;
	padding: 25px 0 0 0;
	margin: auto;
}

#logo #logo_text {
	width: 900px;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border: 7px;
	background: transparent url(../images/menubar.png);
	margin: auto;
	padding: 10px 20px 20px 20px;
}

#logo h1, #logo h2 {
	font: normal 250% 'News Cycle', arial, sans-serif;
	border-bottom: 0;
	text-transform: none;
	margin: 0;
}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover {
	padding: 0;
	color: #0080ff;
	text-decoration: none;
}

#logo_text h1 a .logo_colour {
	color: #09D4FF;
}

#logo_text a:hover .logo_colour {
	color: #3092B6;
}

#logo_text h2 {
	font-size: 140%;
	padding: 0 0 0 0;
	color: #3480FA;
}

nav {
	height: 44px;
	margin: 0 auto 0 auto;
	color: #fef4e9;
	background: transparent url(../images/menubar.png);
}

#menu_container {
	width: 1000px;
	margin: 0 auto 0 auto;
}

#search {
	font-size: 120%;
	width: 900px;
	height: 36px;
	margin: auto;
}

#site_content {
	width: 1200px;
	overflow: hidden;
	margin: 0px auto 0 auto;
	padding: 15px 0 25px 0;
	text-shadow: 0 1px #FFF;
}

#sidebar_container {
	float: left;
	width: 234px;
	height: 555px;
	margin-top: 20px;
	background: transparent url(../images/menubar.png);
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border: 7px 7px 7px 7px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
}

.sidebar {
	width: 200px;
	margin: 0 0 16px 0;
	padding: 0 15px 5px 13px;
}




.sidebar ul {
	margin: 0 0 15px 0;
}

.sidebar li a {
	text-decoration: none;
	color: #555;
}

.sidebar li a:hover {
	text-decoration: underline;
	color: #007efd;
}

.sidebar li a:active {
	color: #ff0000;
}

.sidebar_item, .content_item {
	padding: 15px 0;
}

#adminCategory li a {
	color : #808080;
}

#content {
	text-align: left;
	width: 950px;
	margin: 0 0 15px 0;
	float: right;
	font-size: 150%;
	padding: 14px 0 0 0;
	
}


}
#admin_sidebar input {

	margin: 0 0 0 0;
	margin-top: 10px;
	padding: 0 10px 4px 28px;
	
	line-height: 2.5em;
	font-size: 140%;
}
.sidebar ul li {
	list-style-type: none;
	margin: 0 0 0 0;
	padding: 0 0 4px 28px;
	line-height: 1.5em;
	font-size: 120%;
}

#content a {
	display: block;
	text-decoration: underline;
	line-height: 1.5em;
 	color:#555;
}
#content span {
	color:#007efd;
	line-height: 1.5em;
}
#content  a:hover {
	color:#007efd;
}
footer {
	font: 100% 'Droid Sans', arial, sans-serif;
	height: 125px;
	padding: 28px 0 5px 0;
	text-align: center;
	background: #3092B6;
	color: #FFF;
	margin: 0;
	border-top: 6px solid #58B5D6;
}

footer p {
	line-height: 1.7em;
	padding: 0 0 10px 0;
}

footer a {
	color: #FFF;
	text-decoration: none;
}

footer a:hover {
	color: #FFF;
	text-decoration: underline;
}


/* scroll to top */
#scroll {
	position: relative;
	width: 1000px;
	margin: 0 auto;
	bottom: 15px;
	right: 0;
	background: red;
	padding: 0;
}

#scroll a {
	float: right;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#scroll a img {
	float: right;
	padding: 0 0 0 0;
	margin: 0;
}



html body ul.sf-menu ul {
	width: 180px;
}

html body ul.sf-menu ul ul {
	margin: 0 0 0 220px;
}

/* Framework for proper showing/hiding/positioning */
ul.sf-menu, ul.sf-menu * {
	margin: 0;
	padding: 0;
}

ul.sf-menu {
	display: block;
	position: relative;
}

ul.sf-menu li {
	display: block;
	list-style: none;
	float: left;
	position: relative;
}

ul.sf-menu li:hover {
	visibility: inherit; /* fixes IE7 'sticky bug' */
}

ul.sf-menu a {
	display: block;
	position: relative;
}

ul.sf-menu ul {
	position: absolute;
	left: 0;
	width: 150px;
	top: auto;
	left: -999999px;
}

ul.sf-menu ul a {
	zoom: 1; /* IE6/7 fix */
}

ul.sf-menu ul li {
	float: left;
	/* Must always be floated otherwise there will be a rogue 1px margin-bottom in IE6/7 */
	width: 150px;
}

ul.sf-menu ul ul {
	top: 0;
	margin: 0 0 0 150px;
}

ul.sf-menu li:hover ul, ul.sf-menu li:focus ul, ul.sf-menu li.sf-hover ul,
	ul.sf-menu ul li:hover ul, ul.sf-menu ul li:focus ul, ul.sf-menu ul li.sf-hover ul,
	ul.sf-menu ul ul li:hover ul, ul.sf-menu ul ul li:focus ul, ul.sf-menu ul ul li.sf-hover ul,
	ul.sf-menu ul ul ul li:hover ul, ul.sf-menu ul ul ul li:focus ul, ul.sf-menu ul ul ul li.sf-hover ul
	{
	left: auto;
}

ul.sf-menu li:hover ul ul, ul.sf-menu li:focus ul ul, ul.sf-menu li.sf-hover ul ul,
	ul.sf-menu ul li:hover ul ul, ul.sf-menu ul li:focus ul ul, ul.sf-menu ul li.sf-hover ul ul,
	ul.sf-menu ul ul li:hover ul ul, ul.sf-menu ul ul li:focus ul ul, ul.sf-menu ul ul li.sf-hover ul ul,
	ul.sf-menu ul ul ul li:hover ul ul, ul.sf-menu ul ul ul li:focus ul ul,
	ul.sf-menu ul ul ul li.sf-hover ul ul {
	left: -999999px;
}


span.sf-arrow {
	width: 7px;
	height: 7px;
	position: absolute;
	top: 20px;
	right: 5px;
	display: block;
	background: url(../images/arrows-white.png) no-repeat 0 0;
	overflow: hidden;
	/* making sure IE6 doesn't overflow and expand the box */
	font-size: 1px;
}

ul ul span.sf-arrow {
	right: 10;
	top: 20px;
	background-position: 0 100%;
}


ul#nav {
	float: right;
}

ul#nav ul {
	background: #58B5D6;
	margin-top: 0;
	padding-bottom: 15px;
}

ul#nav li a {
	padding: 5px 20px 6px 20px;
	font: 150% 'News Cycle', arial, sans-serif;
	text-shadow: 1px 1px #7E4D0E;
	text-decoration: none;
	color: #FFF;
	margin-right: 2px;
}

ul#nav li a:hover, ul#nav li a:focus {
	color: #FFF;
	text-decoration: underline;
}
#pagecount{
	width:280px;
 margin:10px auto 2px auto; 
 padding-bottom:20px; 
 text-align:center
 }
#pagecount span{
	display:inline-block;
	color: black;
	float: left;
	padding: 6px 12px;
	text-decoration: none;
	transition: background-color .3s;
	font-size: 18px;
	}




#pagecount span a {
	color: black;
	float: left;
	text-decoration: none;
	transition: background-color .3s;
	font-size: 18px;
}



#pagecount span:hover:not(.current) {
	background-color: #b2b2b2;
}

span.current{
	background-color: #53a9ff;
}

input[type="button"]{
	margin-top:10px;
	margin-right:5px;
	width: 100px;
}