.speech1 {
	background: #c7edcc;
	color: #317787;
	border-radius: 10px;
	width:400px;
	padding: 5px 5px;
	word-wrap: break-word;
	word-break: normal;
	font-size:16px;
}
.speech2 {
	background: #bff2f7;
	color: #317787;
	border-radius: 10px;
	width:400px;
	padding: 5px 5px;
	word-wrap: break-word;
	word-break: normal;
	font-size:16px;
}
.user1 {
	display:inline-block;
	background: #85d88f;
	color: #000000;
	border-radius: 15px;
	padding: 5px 5px;
	word-wrap: break-word;
	word-break: normal;

}
.user2 {
	display:inline-block;
	background: #81e4ef;
	color: #000000;
	border-radius: 15px;
	padding: 5px 5px;
	word-wrap: break-word;
	word-break: normal;

}

.left{
clear:both;
float:left;	
}
.right{
clear:both;
float:right;	
}
.popover.bottom .arrowcolor:after{
border-bottom-color:#B7DFF8;   
}
.popover.bottom .arrowcolor1:after{
border-bottom-color:#FFFFFF;   
}
ul.tab1 li a  {
    background-color:#bebebe;
}

ul.tab1 li a:hover {
    background-color:#c6ecff;
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
    background-color:  #ebebeb;
}

